@font-face {
  font-family: 'Marvel';
  src: url(/src/assets/fonts/MarvelRegular-Dj83.ttf);
}
body {
  background-color: rgb(24, 21, 21);
}
.btn-group {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  font-size: 1.5rem;
  gap: 15px;
}
button {
  font: inherit;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 15px 10px;
  background-color: rgb(186, 242, 131);
}
button:hover,
button:focus-visible {
  filter: brightness(150%);
}
