@font-face {
  font-family: 'Marvel';
  src: url(/src/assets/fonts/MarvelRegular-Dj83.ttf);
}
body {
  background-color: rgb(24, 21, 21);
  font-size: 2rem;
}
header {
  text-align: center;
  padding: 15px 30px;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ed1d24;
  margin-bottom: 60px;
  color: white;
}

header > img {
  width: 200px;
}

header > h1 {
  font-family: 'Marvel';
  font-size: 4rem;
}

header > .scores {
  font-size: 1.5rem;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header > .scores > h1 {
  font-size: 2.5rem;
}

.btn-group {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  font-size: 1.5rem;
  gap: 15px;
}
button {
  font: inherit;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 15px 10px;
  background-color: rgb(186, 242, 131);
}
button:hover,
button:focus-visible {
  filter: brightness(150%);
}

@media only screen and (max-width: 767px) {
  header > h1 {
    font-size: 2rem;
  }

  header > .scores,
  header > .scores > h1 {
    font-size: 1.5rem;
  }
}
